@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: Poppins;
}

#errorPassword,
#errorName,
#errorPhone,
#errorEmail,
#errorAddress,
#errorLastName {
    display: none;
}

.colorError {
    border: 2px solid red;
}

/* Elimina las flechas de incremento y decremento en los inputs de tipo number*/

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}